html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* color: #048998; */
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .main {
  }

  .container-center-item {
    flex-direction: column !important;
  }
}

.main,
.container,
.container-center {
  width: 100%;
  height: 100%;
}
.main {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  /* background-color: #f7fbfc; */
}

.navbar {
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.navbar a {
  padding: 10px;
  text-decoration: none;
  color: #769fcd;
}

.container {
  flex-basis: 85%;
  display: flex;
  flex-direction: column;
}

.container > * {
  /* border: 0.01px solid; */
  padding: 5px;
}

.container-top {
  flex-basis: 10%;
  color: #048998;
}

.container-center {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
}
.container-center-item,
.container-center-item-1 {
  display: flex;
  flex-basis: 50%;
}

.container-center-item {
  flex-direction: row;
}
.container-center-item-1,
.container-center-items {
  border: solid 0.01px #f6f5f5;
  /* box-shadow: 0.1px 0.1px 1px 1px #048998; */
  /* background-color: #f6f5f5; */
  border-bottom-right-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.container-center-items {
  flex-basis: 33.33%;
  text-align: center;
}
.container-bottom {
  flex-basis: 10%;
}
